In [8]:
import pandas as pd

# 예시 상품 판매 데이터
sales_data = {
    'OrderID': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'Product': ['Laptop', 'Mouse', 'Laptop', 'Monitor', 'Mouse', 'Keyboard', 'Laptop', 'Mouse', 'Monitor', 'Keyboard'],
    'Quantity': [1, 2, 1, 1, 2, 1, 1, 3, 1, 1],
    'Price': [1200, 25, 1200, 300, 25, 100, 1200, 25, 300, 100],
    'CustomerID': [1001, 1002, 1001, 1003, 1004, 1002, 1001, 1003, 1005, 1002],
    'OrderDate': ['2024-01-05', '2024-01-06', '2024-01-07', '2024-01-10', '2024-01-12', '2024-01-15', '2024-01-18', '2024-01-20', '2024-01-22', '2024-01-25']
}
df_sales = pd.DataFrame(sales_data)
df_sales

   OrderID   Product  Quantity  Price  CustomerID   OrderDate
0      101    Laptop         1   1200        1001  2024-01-05
1      102     Mouse         2     25        1002  2024-01-06
2      103    Laptop         1   1200        1001  2024-01-07
3      104   Monitor         1    300        1003  2024-01-10
4      105     Mouse         2     25        1004  2024-01-12
5      106  Keyboard         1    100        1002  2024-01-15
6      107    Laptop         1   1200        1001  2024-01-18
7      108     Mouse         3     25        1003  2024-01-20
8      109   Monitor         1    300        1005  2024-01-22
9      110  Keyboard         1    100        1002  2024-01-25

In [ ]:
##1. 각 고객(`CustomerID`)별로 총 구매 금액을 계산하세요.
df_sales['Total'] = df_sales['Quantity'] * df_sales['Price']

total_by_customer = df_sales.groupby('CustomerID')['Total'].sum().reset_index()
print(total_by_customer)

   CustomerID  Total
0        1001   3600
1        1002    250
2        1003    375
3        1004     50
4        1005    300

In [11]:
##2. `Laptop`을 구매한 고객들의 평균 구매 금액을 계산하세요.

# 1. 'Laptop' 구매 내역만 추출
laptop_df = df_sales[df_sales['Product'] == 'Laptop']

# 2. 개별 구매 금액 계산 (이미 'Total' 컬럼이 있다면 사용, 없으면 계산)
laptop_df['PurchaseAmount'] = laptop_df['Quantity'] * laptop_df['Price']

# 3. 평균 구매 금액 계산
mean_purchase = laptop_df['PurchaseAmount'].mean()

print(mean_purchase)

1200.0

C:\Users\WIA\AppData\Local\Temp\ipykernel_19960\3478247686.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  laptop_df['PurchaseAmount'] = laptop_df['Quantity'] * laptop_df['Price']

In [12]:
##3. 가장 많이 판매된 상품(상품 이름과 판매된 총 수량)을 구하세요.
# 상품별 판매 총 수량 집계
product_sales = df_sales.groupby('Product')['Quantity'].sum()

# 가장 많이 판매된 상품 찾기
max_product = product_sales.idxmax()    # 가장 많이 팔린 상품 이름
max_quantity = product_sales.max()      # 그 상품의 총 판매 수량

print("가장 많이 판매된 상품:", max_product)
print("총 판매 수량:", max_quantity)

가장 많이 판매된 상품: Mouse
총 판매 수량: 7

In [13]:
##4. `OrderDate`가 2024년 1월 10일 이후인 주문만 필터링하여 출력하세요.

# 1. OrderDate를 datetime으로 변환
df_sales['OrderDate'] = pd.to_datetime(df_sales['OrderDate'])

# 2. 2024년 1월 10일 이후 주문만 필터링
filtered_df = df_sales[df_sales['OrderDate'] > '2024-01-10']

# 3. 결과 출력
print(filtered_df)

   OrderID   Product  Quantity  Price  CustomerID  OrderDate  Total
4      105     Mouse         2     25        1004 2024-01-12     50
5      106  Keyboard         1    100        1002 2024-01-15    100
6      107    Laptop         1   1200        1001 2024-01-18   1200
7      108     Mouse         3     25        1003 2024-01-20     75
8      109   Monitor         1    300        1005 2024-01-22    300
9      110  Keyboard         1    100        1002 2024-01-25    100

In [14]:
##5. `Product`별로 판매량과 총 판매 금액을 계산한 후, 이를 `Price` 기준으로 내림차순으로 정렬하여 출력하세요.

# 1. 상품별로 판매량과 총 판매금액 집계
product_summary = df_sales.groupby('Product').agg({
    'Quantity': 'sum',
    'Total': 'sum',
    'Price': 'max'   # Price 컬럼이 상품마다 다르지 않으면 min이나 max 아무거나 써도 됨
}).reset_index()

# 2. Price 기준으로 내림차순 정렬
sorted_summary = product_summary.sort_values('Price', ascending=False)

# 3. 결과 출력
print(sorted_summary[['Product', 'Quantity', 'Total', 'Price']])

    Product  Quantity  Total  Price
1    Laptop         3   3600   1200
2   Monitor         2    600    300
0  Keyboard         2    200    100
3     Mouse         7    175     25