### 자료구조

### 리스트

특징 
- 순서가 있는 데이터 구조m

my_list = [1,2,3,4,2]

print(my_list)

my_list = [1,2,3,4,5]
my_list.append(4)
print(my_list)

In [4]:
my_list[2]

NameError: name 'my_list' is not defined

In [ ]:
### 튜플
- 순서가 있는 데이터 구조 -> index

In [7]:
tuple = (1,2,3,4,4) ## 중복 허용
print(tuple)

(1, 2, 3, 4, 4)

In [ ]:
tuple = (1,2,3,4)

tuple[3] = '1'

In [ ]:
### 딕셔너리 

- Key - Value 쌍

In [13]:
dict = {
    'name' : '김정직',
    'age' : 38,
    'city' : '동탄'
}

In [15]:
print(dict['name'])
dict['city'] = '서울'
print(dict['city'])

dict['job'] = 'teacher'

print(dict)

김정직
서울
{'name': '김정직', 'age': 38, 'city': '서울', 'job': 'teacher'}

dict2 = {
    'name' : '김정직2',
    'age' : 293,
    'city' : '동탄2'
}

dict_list = [dict, dict2]

print(dict_list)

### Set
- 중복 불허용
- 순서가 없음

In [22]:
set = {1,2,3,4,5,1}

print(set)

{1, 2, 3, 4, 5}